{% extends "discover/index.html" %}
{% load static %}


{% block content %}

<div class="container_pub">
    <div class="card_pub">
        <div class="card-image">
            <h1 class="card-heading title2">Publier</h1>
        </div>
        <form class="card-form" id="published" method="post" action="{% url 'discover:published' %}">
            {% csrf_token %}
            <div class="input_pub">
                <input type="text" class="input-field" id="lieu" name="lieu" required/>
                <label class="input-label" for="lieu">Nom du lieu</label>
            </div>
            <div class="input_pub">
                <input type="text" class="input-field" id="creator" name="creator" required/>
                <label class="input-label" for="creator">Créateur</label>
            </div>
            <div class="input_pub">
                <input type="text" class="input-field" id="category" name="category" required/>
                <label class="input-label" for="category">Catégories</label>
            </div>

            <div class="input_pub">
                <input type="text" class="input-field" id="description" name="description" required/>
                <label class="input-label" for="category">Description</label>
            </div>

            <div class="input_pub">
                <input type="file" class="input-field" id="avatar_publication" name="avatar_publication"/>
                <label class="input-label" for="avatar_publication">Photo</label>
            </div>
            <div class="action_pub">
                <input class="bouton_pub" type="submit" value="publier">
            </div>
        </form>
    </div>
</div>
{% endblock %}