{% extends "discover/index.html" %}
{% load static %}

{% block content %}
<!-- Category -->
    <h1 data-aos="fade-right" data-aos-duration="2000" class="titreH1"> Nos catégories</h1>
        <div class="container_category">
            {% for categ in category %}  
                <div class="items">
                    <div class="items-head">
                        <p>{{ categ.name_category }}</p>
                        <hr>
                    </div>
                    {% for subcateg in categ.subcategory.all %}
                        <div class="items-body">
                            <div class="items-body-content">
                                <a href="{% url 'discover:list_category' subcateg.id %}"><span>{{ subcateg.name_subCategory }}</span></a>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div> 
                    {% endfor %}
                </div> <!-- fin items -->
            {% endfor %}
        </div> <!-- fin container category -->
<!-- fin category -->
{% endblock %}