{% extends "discover/index.html" %}
{% load static %}
{% load i18n %}


{% block content %}
    <!-- Category List -->
    {% if list_publication %}
    <h1 data-aos="fade-right" data-aos-duration="1000" class="titreH2">Catégories</h1>    
    <h1 data-aos="fade-right" data-aos-duration="1000" class="titreH1">{{ category.name_category}}</h1>
        <div class="container">
            {% for pub in liste_publication %}
                <div data-aos="fade-top" class="card">
                    <div>
                        <h1>{{ pub.name_publication }}</h1>
                        <div><img src="{{ pub.pictures_publication.url }}"/>
                            <h2>{{ pub.creator }}</h2>
                        </div>
                        <div class="separator"></div>
                        <p>{{ pub.description_publication }}</p>
                    </div>
                    <div>
                        {% language 'fr' %}
                        <h5>{{ pub.date_publication|date:'d F Y' }}</h5>
                        {% endlanguage %}
                    </div>
                </div>      
            {% endfor %}
        </div> <!-- end container -->
    {% else %}
        <h1 class="titre_new">Pas de publications disponibles dans cette catégorie</h1>
    {% endif %}
{% endblock %} 