<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8e8d5e63b3.js"></script><!--Icone -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> <!-- AOS Librairy-->
    <link rel="stylesheet" type="text/css" href="{% static 'discover/CSS/style.css' %}"> <!--CSS-->
    <title>Singular &mdash; Accueil</title>
</head>
<body>
    <!-- lOGO -->
    <div id="navbar">
        <div class="logo">
            <a href="{% url 'discover:index' %}">
                <h1 data-aos="fade-right" data-aos-duration="2000">Singular</h1>
            </a>
        </div>

        <!-- NAVBAR -->
        <div data-aos="fade-left" data-aos-duration="2000"  class="nav">
            <a href="{% url 'discover:index' %}">Accueil</a>
            <a href="{% url 'discover:category'%}">Catégories</a>
        </div>

        <!-- USER NAVBAR -->
        <div class="user_navbar">
            <ul>    
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'discover:login' %}">Connexion</a></li>
                    <li><a href="{% url 'discover:register' %}">Inscription</a></li>
                {% else %}
                    <li><a href="{% url 'discover:published' %}">Publier</a></li>
                    <li><a href="#">Profil</a></li>
                    <li><a href="{% url 'discover:logout' %}">Déconnexion</a></li>
                {% endif %}  
            </ul>
        </div>
    </div>

    <!-- SEARCH SECTION -->
    <div class="searchbar">
        <h1 class="titre_search" data-aos="zoom-out" data-aos-duration="1500" data-aos-easing="ease-in-out">Singular</h1>
        <h2 class="titre_search2" data-aos="zoom-out" data-aos-duration="1500">A la recherche de singularité ?</h2>
        <form method="POST" action="{% url 'discover:resultat' %}">
            {% csrf_token %}
            <input type="search" id="search_input" name="search_input" placeholder="Recherche">
            <button type="submit" id="search_button">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    {% block content %}

    <!-- CATEGORY SECTION -->
    <section class="category_section">
        <div class="head_category">
            <p class="top_title" data-aos="fade-left" >Notre</p>
            <h2 data-aos="fade-right">Sélection</h2>
            <p class="top_title" data-aos="fade-left">Découvrez nos catégories disponibles</p>
        </div>

        <ul class="cards" data-aos="fade">
            {% for categ in category %}
                <li>
                    <a href="" class="card">
                        <img src={{ categ.avatar_category.url }} class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <div class="card__header-text">
                                    <h3 class="card__title">{{ categ.name_category }}</h3>            
                                </div>
                            </div>
                            {% for subcateg in categ.subcategory.all %}
                                <p class="card__description">{{ subcateg.name_subCategory }}</p>
                            {% endfor %}
                        </div>
                    </a>      
                </li>
            {% endfor %}
        </ul>
    </section>

    <!-- LAST PUBLICATION -->
    {% if publish_list %}
            <div class="container_box">
                <div class="head_category">
                    <p data-aos= "fade-left" class="top_title">Pour vous</p>
                    <h2 data-aos= "fade-right">Nos découvertes</h2>
                    <p  data-aos= "fade-left" class="top_title">Les dernières publications du jour</p>
                </div>
                
                {% for publication in publish_list %}    
                    <div data-aos="fade-top" class="card">
                        <div>
                            <h1>{{ publication.name_publication }}</h1>
                            <div><img src="{{ publication.pictures_publication.url }}"/>
                                <h2>{{ publication.creator }}</h2>
                            </div>
                            <div class="separator"></div>
                            <p>{{ publication.description_publication }}</p>
                        </div>
                        <div>
                            {% language 'fr' %}
                            <h5>{{ publication.date_publication|date:'d F Y' }}</h5>
                            {% endlanguage %}
                        </div>
                        <button><a href="{% url 'discover:detail' publication.id %}">Détails</a></button>
                    </div>
            {% endfor %}
        {% else %}
            <p>Pas de publications récentes disponibles</p>
        </div>
        {% endif %}

    {% endblock %}

    <!-- SCRIPT SECTION -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'discover/JS/animate.js' %}"></script>
    <script>
        AOS.init();
    </script>
    <!-- END SCRIPT -->
</body>
</html>