{% extends 'discover/index.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h1 data-aos="fade-right" data-aos-duration="2000" class="titreH1">Résultats des recherches</h1>
{% if search_input %}
    <h1 class="titre_resultat">Pour "{{ search_input }}"</h1>
    <div class="container">

        <!-- Result for publication name -->
        {% for result in publication %}
            <div data-aos="fade" data-aos-duration="2000"  class="main">
                <ul>
                    <li>
                        <div>
                            <h3>
                                <span>{{ result.name_publication }}</span>
                                <span><b>{{ result.creator }}</b></span>
                            </h3>
                            <p>
                                {% language 'fr' %}
                                <b>Date de publication</b> : {{ result.date_publication|date:'d F Y' }}
                                {% endlanguage %}
                            </p>

                            <p>
                                <b>Catégorie</b> : {{ result.category }}
                            </p>
                            <p>
                                <b>Aménagements</b> : {{ result.layout }}
                            </p>
                            <button><a href="{% url 'discover:detail' result.id %}">Détails</a></button>
                        </div>
                    </li>
                </ul> 
            </div> <!-- end main -->
        {% endfor %}

        <!-- Result for publication date -->
        {% for result in publication_date %}
            <div data-aos="fade" data-aos-duration="2000"  class="main">
                <ul>
                    <li>
                        <div>
                            <h3>
                                <span>{{ result.name_publication }}</span>
                                <span><b>{{ result.creator }}</b></span>
                            </h3>
                            <p>
                                {% language 'fr' %}
                                <b>Date de publication</b> : {{ result.date_publication|date:'d F Y' }}
                                {% endlanguage %}
                            </p>

                            <p>
                                <b>Catégorie</b> : {{ result.category }}
                            </p>
                            <p>
                                <b>Aménagements</b> : {{ result.layout }}
                            </p>
                            <button><a href="{% url 'discover:detail' result.id %}">Détails</a></button>
                        </div>
                    </li>
                </ul> 
            </div> <!-- end main -->
        {% endfor %}
{% endif %}
{% endblock %}